.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.article-content{
  display: flex;
  justify-content: center;
}
.card-class{
  flex-basis: 80%;
}
mat-card-header{
  display: flex;
  flex-direction: column;
}
.sub-header{
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
hr{
  margin: 10px 200px 20px;
}
.comments-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments-content-header{
  margin-bottom: 20px;
  align-self: start;
  margin-left: 9%;
}
.comment-content{
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.item-content{
  flex: 1 1 0px;
}
.add-comment-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 150px;
}
mat-form-field {
  width: 100%;
}
.rotate-button {
  transform: rotate(-45deg) scale(2);
}
.rotate-button:hover {
  background-color: transparent;
}
@media (max-width: 768px) {
  .comment-content{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 50px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .rotate-button {
    transform: rotate(-45deg) scale(2);
    position:relative;
    top: -10px;
    left: -50px;
  }
  .mat-form-field{
    min-width: 100%;
  }
}
