<div *ngIf="article$ | async as article; else loading" class="main">
  <div class="article-content">
    <mat-card class="card-class" appearance="outlined">
      <mat-card-header class="card-header">
        <mat-card-title>{{ article.title }}</mat-card-title>
        <div class="sub-header">
          <mat-card-subtitle class="card-subtitle">{{ article.created_at | date:'longDate' }}</mat-card-subtitle>
          <mat-card-subtitle class="card-subtitle">{{ article.author.username }}</mat-card-subtitle>
          <mat-card-subtitle class="card-subtitle">{{ article.theme.name }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <hr>

  <div class="comments-content">
    <div class="comments-content-header">
      Commentaires
    </div>
    <div *ngFor="let comment of article.comments" class="comment-content">
      <div class="comment-author">user name</div>
      <div class="item-content">
        <mat-card class="card-class" appearance="outlined">
          <mat-card-content>
            <p>{{ comment.content }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <form class="add-comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Contenu de l'article</mat-label>
      <textarea matInput rows="8" formControlName="content" data-cy="content-textarea"></textarea>
      <mat-error *ngIf="commentForm.get('content')?.hasError('required')">Le contenu de l'article est requis</mat-error>
    </mat-form-field>
    <div>
      <button fxFlex="10" mat-button type="submit" class="rotate-button">
        <mat-icon color="primary">send</mat-icon>
      </button>
    </div>
  </form>

</div>
<ng-template #loading>
  <p>Chargement...</p>
</ng-template>
