.me-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile-edit{
  display: flex;
  flex-direction: column;
  //width: 100%;
}
.edit-form{
display: flex;
  flex-direction: column;
}
mat-card-content{
  display: flex;
  flex-direction: column;
}
