.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 150px;
}

.list-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.list-item {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  cursor: pointer;
}

mat-card-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articles-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between !important;
  margin: 15px;
  width: calc(100% - 20px);
}

.card-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sub-header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.card-subtitle {
  margin-right: 100px;
}

.tri{
  display: flex;
  align-items: center;
}
.tri-link{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .list-item {
    flex: 1 1 100%;
  }
  .list-header {
    display: none;
  }
  .articles-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px;
    align-content: space-around;
  }
  .articles-header button {
    margin-bottom: 15px;
  }
}

