.nav-bar {
  background-color: white;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.menu-button {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  margin-left: 30px
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 80px;
}

.account-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 600px) {
  .menu-button {
    display: inline-block;
  }
  .nav-links {
    display: none;
  }
  .side-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side-nav-links a {

    margin-bottom: 30px;
  }
  .last-link {
    display: flex;
    justify-content: space-around;
  }
}

