.create-article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
mat-form-field {
  width: 50%;
}
.form-content{
  margin-top: 50px;
}

@media (max-width: 768px) {
  mat-form-field{
    width: 90%;
  }
}
