<div class="form-content">
<form class="create-article-form" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
<h2>Créer un nouvel article</h2>
  <mat-form-field appearance="outline">
    <mat-label>Thèmes</mat-label>
    <mat-select formControlName="themeId">
      <mat-option *ngFor="let theme of (themes$ | async)?.themes"
                  [value]="theme.id">        {{ theme.name }}      </mat-option>
    </mat-select>
    <mat-error *ngIf="articleForm.get('themes_id')?.hasError('required')">Vous devez sélectionner un thème</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title"/>
    <mat-error *ngIf="articleForm.get('title')?.hasError('required')">Le titre de l'article est requis</mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>Content</mat-label>
    <textarea matInput rows="8" formControlName="content" data-cy="content-textarea"></textarea>
    <mat-error *ngIf="articleForm.get('content')?.hasError('required')">Le contenu de l'article est requis</mat-error>
  </mat-form-field>


  <div>
    <button mat-raised-button color="primary" type="submit" class="create-button" >
      Créer
    </button>
  </div>

</form>
</div>
